h1 {
    color: red;
}

h2 {
    color: blue;
}

ul {

    box-shadow: 1rem;
}

ul {
    background-color: #dedede;
    color: white;
    border: 2px solid #c2ffff;
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 77, 171, 0.3);
}

ul:hover {
    background-color: #dedede;
    border-color: #c2ffff;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 77, 171, 0.3);
    transform: translateY(-2px); /* gives the raise effect */
}li {
    background-color: lightgray;
    border: 1px solid darkgray;
    padding: 10px;
    list-style-type: none;
}

li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

td,
th {
	border: 1px solid gray;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	margin: 0 auto;
}

td {
	padding: 5px;
}
tbody tr:nth-child(even) {
  border-bottom: 0;
  background-color: #f1f1f1;
}