h1 {
    text-align: center;
    color: rgb(0, 51, 95);
    text-decoration-line: underline;
}

h2 {
    color: rgb(0, 51, 95);
}

ul {

    box-shadow: 1rem;
}

ul {
    background-color: #6c9fff;
    border: 2px solid #00b3ff;
    border-radius: 0.5rem;
    padding: 0.25rem;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.5px;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 77, 171, 0.3);
}

li:hover {
    background-color: #e0ebfe;
    border-color: #00b3ff;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 77, 171, 0.3);
    transform: translateY(-2px); /* gives the raise effect */
}

li {
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(190, 190, 190);
    padding: 1rem;
    list-style-type: none;
}

li:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

td,
th {
	border: 1px solid gray;
    padding: 5px;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	margin: 0 auto;
}

tbody tr:nth-child(even) {
  border-bottom: 0;
  background-color: #f1f1f1;
}

.flag-img {
    width: 200px;
    border: 1px solid black;
}

.country-name {
    display:inline-block;
    width: 200px;
}

.accordion-title {
    font-size: 2rem;
}

.chart {
    height:300px;
    width:40%;
    display: inline-block;
    margin:0px;
}