<!doctype HTML>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Power Plant Info Index</title>
	<link rel="stylesheet" href="/css/foundation.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>

<body>
	<h1>Power Plant Database</h1>
    <h2>By country</h2>
    <ul>
        {{country_list}}
    </ul>
    <h2>By source</h2>
    <ul>
        {{source_list}}
    </ul>
	<h2>By year</h2>
    <ul>
        {{year_list}}
    </ul>
</body>

</html>